html,
body {
  height: 100%;
}

.invisible {
  visibility: hidden;
}

.banner-cont {
  h1 {
    font-weight: normal;
    text-align: center;
  }
}

.g-signin2 {
  margin: auto;
}

.vote-cont,
.vote-cont md-toolbar {
  border-left: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
}

.vote-cont {
  height: 100%;
  margin: auto;
  min-height: 100%;
  max-width: 640px!important;
}

.results-cont {
  height: 100%;
  margin: auto;
  min-height: 100%;
  max-width: 1000px!important;
}

.item {
  border: 2px solid #e4e4e4;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 8px 4px;
  max-height: 1em;
  padding: 4px;
}

.item-sm {
  border-radius: 6px;
  font-size: 12px;
  margin: 0 4px 2px;
  padding: 2px;
}

.item-md {
  border-radius: 8px;
  font-size: 14px;
  margin: 0 4px 2px;
  padding: 3px;
}

.item:focus {
  outline: none;
}

.item.selected {
  border-color: lightgreen;
}

.notify {
  font-size: 20px
}

.notify.full {
  font-weight: bold;
}

.admin-items-cont {
  width: 800px;
}

.multi-vote-table {
  border-collapse: collapse;
  line-height: 1.4em;
  margin: auto;
  max-width: 400px;
  width: 100%;
}

.multi-vote-table tr:nth-of-type(odd) {
  background: #cecefa;
}

.chosen {
  font-weight: bold;
}

.name-col {
  width: 70%;
}

td.name {
  text-align: right;
}

td.votes {
  text-align: center;
}

.tweet {
  line-height: 26px;
  margin-top: 20px;
}

.tweet iframe {
  vertical-align: middle;
  margin-left: 10px;
}
