<div class="vote-cont" ng-show="ctrl.isAdmin" layout="column" layout-align="start center">
  <md-toolbar class="md-hue-2" flex="5">
    <div class="md-toolbar-tools">
      <h2>
        <span>Voting Admin</span>
      </h2>
    </div>
  </md-toolbar>
  <div layout="column" layout-fill>
    <div class="admin-items-cont" layout="row" layout-align="center stretch"
         layout-padding flex="90">
      <textarea flex="80" ng-model="ctrl.editItems"></textarea>
    </div>
    <div layout="row" layout-align="end center">
      <div flex flex-offset="70"
           ng-class="{invisible: ctrl.saveSuccess == null}">
        <span ng-if="ctrl.saveSuccess">Saved!</span>
        <span ng-if="!ctrl.saveSuccess">Error!</span>
      </div>
      <md-button class="md-primary md-raised" flex
                 ng-click="ctrl.submitItems()">
        Save
      </md-button>
      <div flex="10"></div>
    </div>
  </div>
</div>
